@import '../../styles/variables.less';

.guest {
  &__top-text {
    font-family: @en-handwrite-font;
    font-size: 4em;
    color: #fff;
    text-align: center;
    line-height: 1;
    margin-top: -20rpx;
  }

  &__title {
    font-family: @maobi-font;
    font-size: 3em;
    color: @text-color;
    text-align: center;
    line-height: 1;
    margin-top: -0.5em;
  }

  &__qrcode {
    display: block;
    width: 400rpx;
    height: 400rpx;
    margin: 50rpx auto;
  }

  &__desc {
    text-align: center;
    line-height: 2em;
  }
}